@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Opous - Home</title>
    <!-- ========== Css Files ========== -->
    <link href="~/css/root.css" rel="stylesheet">
    <style type="text/css">

        body {
            background: #F5F5F5;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <h3>Are You Sure Login Opous System?</h3>
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <a asp-action="Index" asp-controller="rooms" class="btn btn-option2">Login</a>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
